<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <!--[if lte IE 8]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,chrome=1" />
    <![endif]-->
    <meta content=always name=referrer>
    <meta name="keywords" content="网页关键词 必填" />
    <meta name="description" content="网页描述 必填" />
    <meta itemprop="name" content="QQ分享标题 必填" />
    <meta itemprop="image" content="QQ分享图片链接 可选（不填则删除）" />
    <meta name="description" itemprop="description" content="QQ分享描述 必填" />
    <meta name="viewport" content="width=1200">
    <base target="_blank">
    <title>网页标题</title>
    <script>!function(e){[].map&&0===e.createElement("canvas").toDataURL("image/webp").indexOf("data:image/webp")&&(e.getElementsByTagName("html")[0].className="webp")}(document)</script>
    <!--<link rel="stylesheet" type="text/css" href="assets/css/plugin.css">-->
    <link rel="stylesheet" type="text/css" href="assets/css/base.css">
    <script type="text/javascript" src="assets/js/vendor.js"></script>
</head>

<body>

    <div class="popup-mask" id="J-popup-mask"></div>
    <div class="popup-main popup-main-submit" id="J-popup-main-submit">
        <a href="javascript:;" class="popup-btn-close" title="关闭">X</a>
        <span class="popup-title">填写信息</span>
        <span class="popup-title-remark">这里可以写备注</span>
        <div class="popup-wrap">
            <div class="popup-cont-publish">
                <span class="popup-inp-wrap">
                    <!-- <label class="popup-inp-lab">昵称：</label> -->
                    <input type="text" class="popup-inp J-validate" name="nickname" placeholder="请输入你的昵称" />
                </span>
                <span class="popup-inp-wrap">
                    <!-- <label class="popup-inp-lab">QQ号：</label> -->
                    <input type="text" class="popup-inp J-validate qq qq-len" name="qq" placeholder="请输入你的QQ" data-error-tip="QQ号码格式不正确" />
                </span>
                <span class="popup-inp-wrap">
                    <!-- <label class="popup-inp-lab">邮箱：</label> -->
                    <input type="text" class="popup-inp J-validate email" name="email" placeholder="请输入你的邮箱" data-error-tip="邮箱格式不正确" />
                </span>
                <span class="popup-inp-wrap">
                    <label class="popup-inp-lab">这是不同的样式：</label>
                    <input type="text" class="popup-inp popup-inp-short J-validate" name="test" placeholder="请输入" />
                </span>
                <span class="remark">
                    <i>*</i> 请填写真实联系方式！
                </span>
            </div>
        </div>
        <div class="popup-btm">
            <a href="javascript:;" class="popup-btn popup-btn-sure">提交信息</a>
        </div>
    </div>
    <a href="javascript:;" class="btn-test" id="j-btn-test">点击</a>
    <div class="list-item-wrap" id="j-item-wrap"></div>
    <div class="ui-pager" id="j-pager"></div>
    <!--edit page wrap begin-->
    <div class="pages page-wrap">
        <div class="head">

        </div>
        <div class="container">

        </div>
    </div>
    <!--edit page wrap end-->
    <!--<script type="text/javascript" src="assets/js/plugins.js"></script>-->
    <script type="text/javascript" src="assets/js/components.js"></script>
    <script type="text/javascript" src="assets/js/page/main.js"></script>
</body>

</html>