<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <!--[if lte IE 8]>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,chrome=1" />
    <![endif]-->
    <meta content=always name=referrer>
    <meta name="keywords" content="网页关键词 必填" />
    <meta name="description" content="网页描述 必填" />
    <meta itemprop="name" content="QQ分享标题 必填" />
    <meta itemprop="image" content="QQ分享图片链接 可选（不填则删除）" />
    <meta name="description" itemprop="description" content="QQ分享描述 必填" />

    <title>网页标题</title>

    <!--<link rel="stylesheet" type="text/css" href="assets/css/plugin.css">-->
    <link rel="stylesheet" type="text/css" href="assets/css/base.css">
    <script type="text/javascript" src="assets/js/vendor.js"></script>
</head>

<body>
    <!--edit page wrap begin-->
    <div class="pages page-wrap">
        <div class="page-header">

        </div>
        <div class="page-main">
            <div class="ui-tabs j-tabs">
                <div class="ui-tabs-hd">
                    <a href="javascript:;" class="tabs-hd-item j-tabs-hd-item active">Tab选项A</a>
                    <a href="javascript:;" class="tabs-hd-item j-tabs-hd-item">Tab选项B</a>
                    <a href="javascript:;" class="tabs-hd-item j-tabs-hd-item">Tab选项C</a>
                </div>
                <div class="ui-tabs-bd">
                    <div class="tabs-bd-item j-tabs-cont-item active">Tab选项A</div>
                    <div class="tabs-bd-item j-tabs-cont-item">Tab选项B</div>
                    <div class="tabs-bd-item j-tabs-cont-item">Tab选项C</div>
                </div>
            </div>
        </div>
        <div class="page-footer">

        </div>
    </div>
    <!--edit page wrap end-->
    <!--<script type="text/javascript" src="assets/js/plugins.js"></script>-->
    <script type="text/javascript" src="assets/js/components.js"></script>
    <script type="text/javascript" src="assets/js/page/main.js"></script>
</body>

</html>